// Place all the styles related to the Menu controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.menu-container {
  -webkit-box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.75);
  box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.75);
  background-color: rgba(255, 255, 255, 0.9);
  width: 100%;
  height: auto;
  padding: 2em;
  overflow: auto;
}

.menu-item {
  padding: 1em 0em;
}
